head
  meta(metaname="charset" charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="description" content="Build, edit and explore graphs")
  meta(name="robots" content="index, follow")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.8.1/vis.min.css")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.8.1/vis.min.js")
  title Neo4j Graph Constructor

body
  a(href='https://github.com/VeliovGroup/ostrio-neo4jdriver')
    img.gh-ribbon(src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67' alt='Fork me on GitHub' data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')
  .navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href="https://github.com/VeliovGroup/ostrio-neo4jdriver") Neo4jDriver 
  .container-fluid
    +main

template(name="main")
  .col-md-9
    .panel.panel-default
      .panel-heading
        h3.panel-title Add/Remove/Change Nodes
      .panel-body#graph(style="padding:0px")
      .panel-footer.important.center
        h5 
          | Powered by 
          a(href="http://www.graphenedb.com") GrapheneDB
          |  
          | and
          |  
          a(href="https://github.com/VeliovGroup/ostrio-neo4jdriver") Neo4jDriver
          |  
          | for
          |  
          a(href="https://www.meteor.com") Meteor


  .col-md-3
    unless hasSelection
      form#createNode
        .panel.panel-success
          .panel-heading
            h5.panel-title Please select Node, or create new one:
          .panel-body
            .form-group
              label(for="name") Name
              input.form-control(name="name" placeholder="Type new node name" maxlength="16")
            .form-group
              label(for="label") Select Label
              select.form-control(name="label")
                option(value="Person") Person
                option(value="Place") Place
                option(value="Movie") Movie
            .form-group
              label(for="description") Description
              textarea.form-control(name="description")
          .panel-footer
            button.btn.btn-block.btn-success(type="submit") Create Node
    else
      if compare nodeFrom '&!' nodeTo
        .alert.alert-info.important 
          strong Select second node to create relationship
      if relationship
        +updateRelationship
      else if compare nodeFrom 'and' nodeTo
        +createRelationship
      else if nodeFrom
        form#editNode
          .panel.panel-primary
            .panel-heading
              h5.panel-title Edit / Remove node
            .panel-body
              .form-group
                label(for="name") Name
                input.form-control(name="name" placeholder="Type new node name" maxlength="16" value="{{nodeFrom.name}}")
              .form-group
                label(for="label") Select Label
                select.form-control(name="label")
                  option(value="Person" selected="{{#if isLabel 'Person' nodeFrom}}selected{{/if}}") Person
                  option(value="Place" selected="{{#if isLabel 'Place' nodeFrom}}selected{{/if}}") Place
                  option(value="Movie" selected="{{#if isLabel 'Movie' nodeFrom}}selected{{/if}}") Movie
              .form-group
                label(for="description") Description
                textarea.form-control(name="description") {{nodeFrom.description}}
            unless getNodeDegree nodeFrom
              .panel-footer
                .btn-group-vertical(style="width:100%")
                  button.btn.btn-block.btn-primary(type="submit") Update Node
                  button.btn.btn-block.btn-danger#deleteNode(type="button") Delete Node
            else
              .panel-footer
                button.btn.btn-block.btn-primary(type="submit") Update Node
              .panel-footer
                .alert.alert-danger
                  strong 
                    | You can not remove node with relationships.
                    br
                    | Remove relationships first

